body{
    background-color: #f6f6f6 !important;
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
}
body #main-menu-navigation a.disabled{
    opacity: 1;
}
.mainContainer ul{
    list-style-type: none;
    padding-left: 0px;
}
.mainContainer .bgcoll{
    border:  0px;
}
.mainContainer:last-child body .bgcoll, body .border0{
    border: none !important; 
}
.mainContainer .card-block, .bgcoll{
    background: none !important;
    box-shadow:  none !important
}
.mainContainer:nth-child(1) {
    background: #F02C1E;
}
.mainContainer:nth-child(2) {
    background: #22BEEF;
}
.mainContainer:nth-child(3) {
    background: #A2D200;
}
.mainContainer:nth-child(4) {
    background: #8E44AD;
}
.mainContainer .card-block{
    padding: 15px 10px;
    color: #FFF;
}
.mainContainer .card-block{
    padding: 15px 10px;
}
.headerWrap{
    /*overflow: hidden;*/
    position: relative;
}
.customTitle .heading-elements{
    top: 6px;
    right: 12px;
}
.headerWrap:before{
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.2);
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.lightbluebg{
    background-color: #22BEEF;
}
.lightgreenbg{
    background-color: #A2D200;
}
.lightredbg{
    background-color: #FF4A43;
}
.headerWrap h1{
    font-size: 26px;
    text-transform: capitalize;
}
.bordergray, #staffmembers_wrapper{
    border: 1px solid #e8e8e8;
}
.navbarTabs {
    padding: 0px;
}
.navbarTabs ul li, .navbarTabs ul li a{
    margin: 0px !important; 
}
.navbarTabs ul li{
    width: 16.66666%;
}
.navbarTabs ul li a, a, body #overviewWrap .media{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.navbarTabs ul li a{
    margin-right: 20px;
    color: #191919;
    display: block;
    font-size: 16px;
    border: none;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    text-shadow: none !important;
    position: relative;
}
.navbarTabs ul li a:after {
    position: absolute;
    content: "";
    right: 0;
    top: 10px;
    height: 40px;
    width: 2px;
    background: #c1c1c1;
}
.navbarTabs ul li:last-child a:after{
    width: 0px;
}
.customNav .navColl:last-child a,
.navbarTabs ul li:last-child a{
    border-right: 0px !important;
}
.navbarTabs li a p{
    margin-bottom: 0px;
}
.navbarTabs li a i{
    font-size: 20px;
}
.navbarTabs ul li#Overveiw.active a,
.navbarTabs ul li#Services.active a,
.navbarTabs ul li#StaffMembers.active a,
.navbarTabs ul li#Videos.active a,
.navbarTabs ul li#Reviews.active a,
.navbarTabs ul li#General.active a,
.navbarTabs ul li:hover a{
    color: #f03b66;
}
.btn-custom{
    background-color: #f03b66;
}
#main-menu-navigation li a{
    color: #fff;
}
#main-menu-navigation li:hover a{
    color: #191919;
}
.lists{
    display: inline-flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    font-size: 27px;
}
.lists li{
    list-style: none;
    display: inline-bl;
    width: calc(50% / 3);
    text-align: center;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.fontsize
{
  font-size: 25px;  

}
.coloBlue {
    color: #1b6daf;
}
.bgcoll{
    background: #CCC;
}
.padding15{
    padding: 15px;
}
.img-responsive, img{
    max-width: 100%
}
.chartjs{
    padding: 20px;
}
.main-menu.menu-dark .navigation>li.active>a, 
.main-menu.menu-dark .navigation>li.hover>a, 
.main-menu.menu-dark .navigation>li:hover>a{
    background: #FFF;
    color: #191919;
}
.bgwhite, #staffmembers_wrapper{
    background-color: #FFF;
}
.pd15, #staffmembers_wrapper{
    padding: 15px;
}
.shadow{
    -webkit-box-shadow: 0px 4px 4px -3px #9c9c9c;
    -moz-box-shadow: 0px 4px 4px -3px #9c9c9c;
    box-shadow: 0px 4px 4px -3px #9c9c9c;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td{
    vertical-align: middle;
}
.bgdefault{
    background: #f03b66;
    color: #FFF;
}
.bgpink{
    background: #ff6666;
    color: #FFF;
}
p{
    margin-bottom:0; 
    line-height: 28px;
}
.person-img{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 3px solid #e6e6e6;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#video-gallery{
    margin: 0px;
    box-shadow: none;
    border: 0px; 
}
.custom-caption p{
    line-height: 18px;
}
.logo-bg{
    /*height: 130px;
    width: 130px;*/
    background: #fff;
    /*line-height: 110px;*/
    padding: 7px;
    margin: 0px;
    overflow: hidden;
}
.carousel-control.right, .carousel-control.left{
    width: 40px;
    height: 100px;
    font-size: 18px;
    top: 34%;
    line-height: 95px;
    background: #FFF !important;
    border: 1px solid #ccc;
    opacity: 1 !important;
    color: #f03b66;
    text-shadow: none;
}
.carousel-control .icon-next, .carousel-control .icon-prev{
    color: #666;
}
body .custom-caption {
    padding: 0px 15px;
    overflow: hidden;
    display: inline-block;
    /*max-width: 69.5% !important;*/
    width: 100%;
    vertical-align: top;
}
.btn-subscribe, .btn-subscribe:focus, .btn-subscribe:hover{
    padding: 5px 10px !important;
    background-color: #DA4453 !important;
    border: 0px;
}
.vid-img{
    /*width: 30%;*/
    overflow: hidden;
    display: inline-block;
    height: 280px;
}
.subsbtn{
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #f2f2f2;
    float: right;
}
.custom-caption strong{
    line-height: 30px;
}
.card-header .heading-elements.subsbtn a i{
    color: #FFF;
}
.card-header .heading-elements.subsbtn a{
    border-radius: 0px; 
}
.subsbtn .txt{
    padding: 5px;
}
#innerStudio .carousel-indicators li, #innerStudio .carousel-indicators .active{
    width: 100px;
    height: 100px;
    text-indent: 0px;
    overflow: hidden;
    border-radius: 0px;
    border: 3px solid #dedede;
}
#innerStudio .carousel-indicators{
    position: inherit;
    margin-left: 0px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
}
#timeline.timeline-center .timeline-item:nth-child(odd){
    margin-top: 40px;
}
#user-profile ul.timeline{
    padding-top: 0px;
}
#user-profile .timeline-group{
    margin-top: 0px;
}
.vidColl{
    margin-bottom: 5px;
}
.vidColl .media-body .info{
    font-size: 1.5rem !important;
}
body.customBody .card-Wrap {
    padding: 1.9rem;
   /* max-width: 1055px !important;*/
    margin-right: auto;
    margin-left: auto;
}
.custmField .form-control{
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 16px;
}
.custmField .editable{
    background-color: #FFF;
    border: 1px solid  #f99;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.custmField .edit-btn:hover,
.custmField .edit-btn:focus{
    border: 1px solid  transparent;
}
.edit-btn{
  width: 40px;
  position: absolute;
  right: 1px;
  top: 18px;
  box-shadow: none !important;
  border: none !important;
  background: #eceeef;
}
body .edit-btn:hover, body  .edit-btn:focus{
    background: transparent !important;

}
.custmField .edit-btn,
.custmField .edit-btn:hover,
.custmField .edit-btn:focus{
    background-color: #3bafda;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.custmField .bg-color:hover,
.custmField .bg-color:focus{
    background-color: #f03b66;
    border: 1px solid  transparent;
}
.custmField .bg-color{
    background-color: #f03b66;
    border: 1px solid  #f03b66;
}
.person-img{
    position: relative;
    overflow: hidden;
    z-index: 999;
}

.edit-img{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.48);
    color: #FFF !important;
    font-size: 26px;
    line-height: 7.8rem;
    height: 100px;
    display: block;
    border: 0px;
    cursor: pointer;
    width: 100%;
    opacity: 0;

    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.person-img:hover .edit-img {
    opacity: 1;
    bottom: 0px;
}
.clearfix{
    clear: both;
}
.circleBg{
    height: 70px;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
}
#file_upload{
    display: none;
}
.proimginfo{
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
}
.text-red{
    color:red;
}
.main-menu.menu-dark .navigation>li{
      border-bottom: 1px solid #1d1d1d;
}
#formContainer .form-control-position{
    top: 33px !important;
}
body #overviewWrap .media:hover{
    background: #1d2b36 !important;
}
#formContainer #emailerror{
    position: absolute;
    top: -2px;
}

#formContainer #usererror{
    position: absolute;
    top: -2px;
}
.btn-default.focus, .btn-default:focus, .btn-default:hover{
     background-color: #3bafda !important;
    /* border-color: blue !important; */
}
.carousel-indicators img{
    height: 100%;
}
.navWrap{
    -webkit-border-radius: 5px 5px 0px 0px !important;
    -moz-border-radius: 5px 5px 0px 0px !important;
    border-radius: 5px 5px 0px 0px !important;
    z-index: -9;
    overflow: hidden;
}
table#studiolisting td:last-child,
table#staffmembers td:last-child{
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
}
.nav-head{
    left: 0;
    position: absolute;
    right: 0;
    width: 100% !important;
    z-index: 999;
}
.nav-head .open-navbar-container{
    display: block;
    width: 100%;
}
@media all and (max-width: 991px){
    body #timeline.timeline-wrapper .timeline-item > .timeline-badge {
        left: 47.6% !important;
        top: 0;
    }
    body .border-grey.border-lighten-2{
        margin-top: 45px;
    }
    #timeline.timeline-center .timeline-item:nth-child(2n)::after, #timeline.timeline-center .timeline-item:nth-child(2n)::before, #timeline.timeline-center .timeline-item:nth-child(2n+1)::after, #timeline.timeline-center .timeline-item:nth-child(2n+1)::before {
        content: "";
        height: 0;
        position: absolute;
        width: 0;
        z-index: 1;
        display: block;
    }
    .customer-reviews .timeline-card.card.border-grey.border-lighten-2{
        position: relative;
    }
    .customer-reviews .timeline-card.card.border-grey.border-lighten-2:before {
        position: absolute;
        content: "";
        right: 0;
        top: -40px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid #ccc;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        left: 0;
        z-index: 99;
        margin: 0 auto;
        width: 35px;
    }
    .customer-reviews .timeline-card.card.border-grey.border-lighten-2:after {
        position: absolute;
        content: "";
        right: 0;
        top: -39px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid #f9f9f9;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        left: 0;
        z-index: 99;
        margin: 0 auto;
        width: 35px;
    }
    .customer-reviews .card-header, .customer-reviews .card-body {
        background: #f9f9f9;
    }

}
@media all and (max-width: 960px){
    .headerWrap h1{
        font-size: 18px;
        font-weight: 700;
    }
    .col-p-Top{
        padding-top: 0px !important;
    }
    .col-m-Top{
        margin-top: 0px !important;
    }
    .col-m-bottom{
        margin-bottom: 0px !important;
    }
}
@media all and (min-width: 768px){
    .desktop-display-none{
        display: none;
    }
    body .custom-caption{
        /*max-width: 68.5%;*/
    }
}
@media all and (max-width: 767px){
    .mobile-display-none{
        display: none;
    }
    .circleBg{
        width: 45px;
        height: 45px;
        padding: 9px 8px !important; 
    }
    body table#studiolisting{
        width: 100% !important;
    }
    .navbarTabs ul li{
        width: 100% !important;
        text-align: left;
    }
    .navbarTabs ul li a{
        padding: 10px 25px;
        line-height: 18px;
        border-top: 1px solid #f2f2f2;
    }
    .navbarTabs ul li p{
        display: inline-block;
        line-height: 18px;
    }
    .navbarTabs ul li#Overveiw.active a, 
    .navbarTabs ul li#Services.active a, 
    .navbarTabs ul li#StaffMembers.active a, 
    .navbarTabs ul li#Videos.active a, 
    .navbarTabs ul li#Reviews.active a, 
    .navbarTabs ul li#General.active a, 
    .navbarTabs ul li:hover a{
        background: #f03b66;
        color: #fff;
    }
    .navbarTabs ul li a::after{
        position: inherit;
    }
    .navbarTabs .bgdefault{
        box-shadow: none !important;
        border: none !important;
        border-radius: 0px !important
    }
    .navbarTabs .bgdefault:hover,
    .navbarTabs .bgdefault:focus{
        background: #191919 !important;
        box-shadow: none !important;
        border: none !important;
        border-radius: 0px !important;
    }

}

