@theme_color: #f03b66;
@text_black: #373A3C;

.add-studio-class{
    background: @theme_color;
    color: #fff;
    padding: 8px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 1.95;
    display: inline-block;
    font-size: 22px;
    margin-top: -0.75rem;
    margin-right: 14px;
    &:hover{
        background: darken(@theme_color, 15%);
    }
    & i {
        color:#fff !important;    
    }
}

.text-center{
    text-align: center !important;
}
.btn-group-sm>.btn, .btn-sm{
    padding: .4rem .75rem;
}

.form-control-position{
    top:50%;
    transform: translateY(-50%);
    & i{
        font-size:16px;
        color:#777;
    }
    
}

.no-margin{
    margin: 0 !important;
}

div.sideNavbar{
    & nav.header-navbar{
        background: @theme_color; 
        & .navbar-header{
            background: @theme_color;
            & .navbar-brand{
                padding:5px;
            }
        }

        & li.nav-item, & li.nav-item .nav-link{
            color:#fff;
            & i{
                color:#fff;
            }
        }
    }

    & .dropdown-menu.dropdown-menu-right i{
        color: @text_black !important;
    }
}