.add-studio-class {
  background: #f03b66;
  color: #fff;
  padding: 8px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 1.95;
  display: inline-block;
  font-size: 22px;
  margin-top: -0.75rem;
  margin-right: 14px;
}
.add-studio-class:hover {
  background: #cf103d;
}
.add-studio-class i {
  color: #fff !important;
}
.text-center {
  text-align: center !important;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: .4rem .75rem;
}
.form-control-position {
  top: 50%;
  transform: translateY(-50%);
}
.form-control-position i {
  font-size: 16px;
  color: #777;
}
.no-margin {
  margin: 0 !important;
}
div.sideNavbar nav.header-navbar {
  background: #f03b66;
}
div.sideNavbar nav.header-navbar .navbar-header {
  background: #f03b66;
}
div.sideNavbar nav.header-navbar .navbar-header .navbar-brand {
  padding: 5px;
}
div.sideNavbar nav.header-navbar li.nav-item,
div.sideNavbar nav.header-navbar li.nav-item .nav-link {
  color: #fff;
}
div.sideNavbar nav.header-navbar li.nav-item i,
div.sideNavbar nav.header-navbar li.nav-item .nav-link i {
  color: #fff;
}
div.sideNavbar .dropdown-menu.dropdown-menu-right i {
  color: #373A3C !important;
}
