body{
    background-color: #f6f6f6 !important;
    font-size: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
}
body #main-menu-navigation a.disabled{
    opacity: 1;
}
.mainContainer ul{
    list-style-type: none;
    padding-left: 0px;
}
.mainContainer .bgcoll{
    border:  0px;
}
.mainContainer:last-child body .bgcoll, body .border0{
    border: none !important; 
}
.mainContainer .card-block, .bgcoll{
    background: none !important;
    box-shadow:  none !important
}
.mainContainer:nth-child(1) {
    background: #F02C1E;
}
.mainContainer:nth-child(2) {
    background: #22BEEF;
}
.mainContainer:nth-child(3) {
    background: #A2D200;
}
.mainContainer:nth-child(4) {
    background: #8E44AD;
}
.mainContainer .card-block{
    padding: 15px 10px;
    color: #FFF;
}
.mainContainer .card-block{
    padding: 15px 10px;
}
.headerWrap{
    position: relative;
}
.customTitle .heading-elements{
    top: 6px;
    right: 12px;
}
.headerWrap:before{
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.2);
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.lightbluebg{
    background-color: #22BEEF;
}
.lightgreenbg{
    background-color: #A2D200;
}
.lightredbg{
    background-color: #FF4A43;
}
.headerWrap h1{
    font-size: 26px;
    text-transform: capitalize;
}
.bordergray, #staffmembers_wrapper{
    border: 1px solid #e8e8e8;
}
.navbarTabs {
    padding: 0px;
}
.navbarTabs ul li, .navbarTabs ul li a{
    margin: 0px !important; 
}
.navbarTabs ul li{
    width: 14.3%;
}
.navbarTabs ul li a, a, body #overviewWrap .media{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.navbarTabs ul li a{
    color: #f8f8f8;
    display: block;
    font-size: 15px;
    border: none;
    padding: 25px 0px 20px;
    font-family: 'Lato', sans-serif;
    text-shadow: none !important;
    position: relative;
    text-transform: uppercase;
    height: 100px;
    letter-spacing: 1px;
    border-bottom: 5px solid transparent;
}
.customNav .navColl:last-child a,
.navbarTabs ul li:last-child a{
    border-right: 0px !important;
}
.navbarTabs li a p{
    margin-bottom: 0px;
}
.navbarTabs li a i{
    font-size: 25px;
}
.navbarTabs ul li#Overveiw a{
    background: #1D2B36;
}
.navbarTabs ul li#Services a{
    background: #2A3B48;
}
.navbarTabs ul li#StaffMembers a{
    background: #405667;
}
.navbarTabs ul li#Videos a{
    background: #526F86;
}
.navbarTabs ul li#Reviews a{
    background: #64859E;
}
.navbarTabs ul li#General a{
    background: #7294AD;
}
.navbarTabs ul li#finance a{
    background: #7294AD;
}

.navbarTabs ul li#Overveiw.active a,
.navbarTabs ul li#Services.active a,
.navbarTabs ul li#StaffMembers.active a,
.navbarTabs ul li#Videos.active a,
.navbarTabs ul li#Reviews.active a,
.navbarTabs ul li#General.active a,
.navbarTabs ul li:hover a{
    border-bottom-color: #f03b66;
}
.btn-custom{
    background-color: #f03b66;
}
.lists{
    display: inline-flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    font-size: 27px;
}
.lists li{
    list-style: none;
    display: inline-bl;
    width: calc(50% / 3);
    text-align: center;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.fontsize
{
  font-size: 25px;  

}
.coloBlue {
    color: #1b6daf;
}
.bgcoll{
    background: #CCC;
}
.padding15{
    padding: 15px;
}
.img-responsive, img{
    max-width: 100%
}
.chartjs{
    padding: 20px;
}
.main-menu.menu-dark .navigation>li.active>a, 
.main-menu.menu-dark .navigation>li.hover>a, 
.main-menu.menu-dark .navigation>li:hover>a{
    background: #141E25;
    color: #fff;
}
.bgwhite, #staffmembers_wrapper{
    background-color: #FFF;
}
.pd15, #staffmembers_wrapper{
    padding: 15px;
}
.shadow{
    -webkit-box-shadow: 0px 4px 4px -3px #9c9c9c;
    -moz-box-shadow: 0px 4px 4px -3px #9c9c9c;
    box-shadow: 0px 4px 4px -3px #9c9c9c;
}
.shadow-none{
    box-shadow: none;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td{
    vertical-align: middle;
}
#exCollapsingNavbar2 > div > a > div{
    padding: 15px;
    text-align: center;
}
#exCollapsingNavbar2 > div > a{
    font-size: 18px;
}

#exCollapsingNavbar2 > div > a #profile {
    background: #2A3B48;
    color: #f8f8f8;
}
 #exCollapsingNavbar2 > div > a #videos {
    background: #405667;
    color: #f8f8f8;
}
#exCollapsingNavbar2 > div > a #chat {
    background: #526F86;
    color: #f8f8f8;
}
.bgdefault{
    background: #2A3B48;
    color: #f8f8f8;
}
.bgpink{
    background: #ff6666;
    color: #FFF;
}
p{
    margin-bottom:0; 
    line-height: 20px;
}
.person-img{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 3px solid #e6e6e6;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#video-gallery{
    margin: 0px;
    box-shadow: none;
    border: 0px; 
}
.custom-caption p{
    line-height: 18px;
}
.logo-bg{
    max-height: 120px;
    max-width: 120px;
    width: 100%;
    background: #fff;
    padding: 7px;
    margin: 0px;
    overflow: hidden;
}
.carousel-control.right, .carousel-control.left{
    width: 40px;
    height: 100px;
    font-size: 18px;
    top: 34%;
    line-height: 95px;
    background: #FFF !important;
    border: 1px solid #ccc;
    opacity: 1 !important;
    color: #f03b66;
    text-shadow: none;
}
.carousel-control .icon-next, .carousel-control .icon-prev{
    color: #666;
}
body .custom-caption {
    padding: 0px 15px;
    overflow: hidden;
    display: inline-block;
    /*max-width: 69.5% !important;*/
    width: 100%;
    vertical-align: top;
}
.btn-subscribe, .btn-subscribe:focus, .btn-subscribe:hover{
    padding: 5px 10px !important;
    background-color: #DA4453 !important;
    border: 0px;
}
.vid-img{
    /*width: 30%;*/
    overflow: hidden;
    display: inline-block;
    height: 280px;
}
.subsbtn{
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #f2f2f2;
    float: right;
}
.custom-caption strong{
    line-height: 30px;
}
.card-header .heading-elements.subsbtn a i{
    color: #FFF;
}
.card-header .heading-elements.subsbtn a{
    border-radius: 0px; 
}
.subsbtn .txt{
    padding: 5px;
}
#innerStudio .carousel-indicators li, #innerStudio .carousel-indicators .active{
    width: 100px;
    height: 100px;
    text-indent: 0px;
    overflow: hidden;
    border-radius: 0px;
    border: 3px solid #dedede;
}
#innerStudio .carousel-indicators{
    position: inherit;
    margin-left: 0px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
}
#timeline.timeline-center .timeline-item:nth-child(odd){
    margin-top: 40px;
}
#user-profile ul.timeline{
    padding-top: 0px;
}
#user-profile .timeline-group{
    margin-top: 0px;
}
.vidColl{
    margin-bottom: 5px;
}
.vidColl .media-body .info{
    font-size: 1.5rem !important;
}
body.customBody .card-Wrap {
    padding: 1.9rem;
   /* max-width: 1055px !important;*/
    margin-right: auto;
    margin-left: auto;
}
.custmField .form-control{
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 16px;
}
.custmField .editable{
    background-color: #FFF;
    border: 1px solid  #f99;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.custmField .edit-btn:hover,
.custmField .edit-btn:focus{
    border: 1px solid  transparent;
}
.edit-btn{
    width: 40px;
    position: absolute;
    right: 0px;
    top: 17px;
    box-shadow: none !important;
    border: none !important;
    height: 32px;
    background: #eceeef;
}
.btn-danger.btn-lighten-1:focus{
    background: #DF5E6A!important;
}
body .edit-btn:hover, body  .edit-btn:focus{
    background: transparent !important;
}
.custmField .edit-btn,
.custmField .edit-btn:hover,
.custmField .edit-btn:focus{
    background-color: #3bafda;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.custmField .bg-color:hover,
.custmField .bg-color:focus{
    background-color: #f03b66;
    border: 1px solid  transparent;
}
.custmField .bg-color{
    background-color: #f03b66;
    border: 1px solid  #f03b66;
}
.person-img{
    position: relative;
    overflow: hidden;
    z-index: 999;
    padding: 0px !important;
}

.edit-img{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.48);
    color: #FFF !important;
    font-size: 26px;
    line-height: 7.8rem;
    height: 100px;
    display: block;
    border: 0px;
    cursor: pointer;
    width: 100%;
    opacity: 0;

    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.person-img:hover .edit-img {
    opacity: 1;
    bottom: 0px;
}
.clearfix{
    clear: both;
}
.circleBg{
    height: 70px;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
}
#file_upload{
    display: none;
}
.proimginfo{
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
}
.text-red{
    color:red;
}
.main-menu.menu-dark .navigation>li{
      border-bottom: 1px solid #131d25;
}
.main-menu.menu-dark .navigation>li{
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,.1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,.1);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,.1);

    margin-bottom: 1px;
}
#formContainer .form-control-position{
    top: 33px !important;
}
body #overviewWrap .media:hover{
    background: #1d2b36 !important;
}
#formContainer #emailerror{
    position: absolute;
    top: -2px;
}

#formContainer #usererror{
    position: absolute;
    top: -2px;
}
.btn-default.focus, .btn-default:focus, .btn-default:hover{
     background-color: #3bafda !important;
    /* border-color: blue !important; */
}
.carousel-indicators img{
    height: 100%;
}
.navWrap{
    -webkit-border-radius: 5px 5px 0px 0px !important;
    -moz-border-radius: 5px 5px 0px 0px !important;
    border-radius: 5px 5px 0px 0px !important;
    z-index: -9;
    overflow: hidden;
}
table#studiolisting td:last-child,
table#staffmembers td:last-child{
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
}
.nav-head{
    left: 0;
    position: absolute;
    right: 0;
    width: 100% !important;
    z-index: 999;
}
.nav-head .open-navbar-container{
    display: block;
    width: 100%;
}
@media all and (max-width: 991px){
    body #timeline.timeline-wrapper .timeline-item > .timeline-badge {
        left: 47.6% !important;
        top: 0;
    }
    body .border-grey.border-lighten-2{
        margin-top: 45px;
    }
    #timeline.timeline-center .timeline-item:nth-child(2n)::after, #timeline.timeline-center .timeline-item:nth-child(2n)::before, #timeline.timeline-center .timeline-item:nth-child(2n+1)::after, #timeline.timeline-center .timeline-item:nth-child(2n+1)::before {
        content: "";
        height: 0;
        position: absolute;
        width: 0;
        z-index: 1;
        display: block;
    }
    .customer-reviews .timeline-card.card.border-grey.border-lighten-2{
        position: relative;
    }
    .customer-reviews .timeline-card.card.border-grey.border-lighten-2:before {
        position: absolute;
        content: "";
        right: 0;
        top: -40px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid #ccc;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        left: 0;
        z-index: 99;
        margin: 0 auto;
        width: 35px;
    }
    .customer-reviews .timeline-card.card.border-grey.border-lighten-2:after {
        position: absolute;
        content: "";
        right: 0;
        top: -39px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid #f9f9f9;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        left: 0;
        z-index: 99;
        margin: 0 auto;
        width: 35px;
    }
    .customer-reviews .card-header, .customer-reviews .card-body {
        background: #f9f9f9;
    }

}
@media all and (max-width: 960px){
    .headerWrap h1{
        font-size: 18px;
        font-weight: 700;
    }
    .col-p-Top{
        padding-top: 0px !important;
    }
    .col-m-Top{
        margin-top: 0px !important;
    }
    .col-m-bottom{
        margin-bottom: 0px !important;
    }
}
@media all and (min-width: 768px){
    .desktop-display-none{
        display: none;
    }
    body .custom-caption{
        /*max-width: 68.5%;*/
    }
}
@media all and (max-width: 767px){
    .mobile-display-none{
        display: none;
    }
    .circleBg{
        width: 45px;
        height: 45px;
        padding: 9px 8px !important; 
    }
    body table#studiolisting{
        width: 100% !important;
    }
    .navbarTabs ul li{
        width: 100% !important;
        text-align: left;
    }
    .navbarTabs ul li a{
        padding: 10px 25px;
        line-height: 18px;
        border-top: 1px solid #f2f2f2;
    }
    .navbarTabs ul li p{
        display: inline-block;
        line-height: 18px;
    }
    .navbarTabs ul li#Overveiw.active a, 
    .navbarTabs ul li#Services.active a, 
    .navbarTabs ul li#StaffMembers.active a, 
    .navbarTabs ul li#Videos.active a, 
    .navbarTabs ul li#Reviews.active a, 
    .navbarTabs ul li#General.active a, 
    .navbarTabs ul li:hover a{
        background: #f03b66;
        color: #fff;
    }
    .navbarTabs ul li a::after{
        position: inherit;
    }
    .navbarTabs .bgdefault{
        box-shadow: none !important;
        border: none !important;
        border-radius: 0px !important
    }
    .navbarTabs .bgdefault:hover,
    .navbarTabs .bgdefault:focus{
        background: #191919 !important;
        box-shadow: none !important;
        border: none !important;
        border-radius: 0px !important;
    }
    .grid-hover figure{
        min-width: inherit !important;
        width: 100%;
        display: block;
        margin: 0 0px 20px !important;
    }
    .grid-hover figure figcaption{
        display: none;
    }

}


.icon_box .icon.icon-border-effect {
    position: relative;
}
.icon_box .icon.icon-xl {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border: 5px solid #d8d8d8;

}
.icon_box .icon.icon-circled {
    border-radius: 50%;
}
.icon_box .icon {
    display: inline-block;
    height: 70px;
    margin-bottom: 20px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 70px;
}
.icon_box .icon.icon-xl i {
    font-size: 50px;
    line-height: 100px;
}
.icon_box .icon i {
    line-height: 70px;
}
.icon_box i {
    display: inline-block;
    font-size: 40px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.bg-theme-colored, .drop-caps.colored-square p:first-child::first-letter, .drop-caps.colored-rounded p:first-child::first-letter {
    background-color: #ef3b65 !important;
}
button.close{
    position: absolute;
    top: -10px;
    right: -10px;
    background: #f03b66;
    opacity: 0;
    text-shadow: none;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    color: #fff !important;

    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}
.modal-body:hover .close{
    opacity: 1;
}
.close span{
    display: block;
    margin-bottom: 3.5px;
}
.profile-image{
    width: 100px;
    display: block;
}
.radius-top{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    overflow: hidden;
}



#user-profile #exCollapsingNavbar2 ul li{
    width: 33.333%
}
#user-profile #exCollapsingNavbar2 ul li a#profile{
    background: #2A3B48;
    color: #f8f8f8;
}
#user-profile #exCollapsingNavbar2 ul li a#videos{
    background: #405667;
    color: #f8f8f8;
}
#user-profile #exCollapsingNavbar2 ul li a#chat{
    background: #526F86;
    color: #f8f8f8;
}
/*#user-profile ul li:hover a,
#user-profile ul li a.active{
    background: #f03b66 !important;
}*/
#user-profile #exCollapsingNavbar2 ul li a {
    font-size: 18px;
}
body  figure.effect-bubba p{
    line-height: 18px;
} 
body figure.effect-bubba:hover h2, 
body  figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,-60px,0);
}
body figure.effect-bubba h2 {
    padding-top: 30%;
    transition: transform .35s;
    -webkit-transform: translate3d(0,-10px,0);
    -moz-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}
/*.main-menu.menu-dark .navigation>li>a i{
    top:0px;
}*/
.dropzone.dz-clickable {
    cursor: pointer;
    text-align: center;
    position: relative;
}
.dropzone .dz-message{
    height: auto;
}
.custom-form .form-control:focus{
    border-color: #AC92EC;
}
body .socials a.btn-social-icon{
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 5px;
}
body .socials a.btn-social-icon span{
    line-height: 3.5rem;
}
.grid-hover figure{

}
.editDeleteBtn{
    overflow: hidden;
    border-top: 1px solid #eee;
}
.service-card-box .deleteservice, .service-card-box  .togglebutton{
    padding: 15px;
    width: 50%;
    border: 0px;
    float: left;
    border-radius: 0px;
    color: #373A3C !important;
}
.service-card-box .togglebutton{
    border-right: 1px solid #eee; 
}
.service-card-box>div.minHeight{
    min-height: 290px;
} 
.service-card-box .icon_box h4{
    font-size: 1.1rem;
}
.service-card-box .card-block.text-xs-left.line-height-1 {
    max-height: 110px;
    /*overflow: auto;*/
}
body .cd-horizontal-timeline  li.rev-wrap>* {
    max-width: inherit !important;
}
body .cd-horizontal-timeline  li.rev-wrap{
    padding-right: 25px;
    padding-left: 25px;
}
.userThumb .avatar-md{
    height: 40px;
}
