	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:45
  	*/

@font-face {
  font-family: "flaticon-set-salon";
  src: url("flaticons/flaticon-set-salon.eot");
  src: url("flaticons/flaticon-set-salond41d.eot?#iefix") format("embedded-opentype"),
       url("flaticons/flaticon-set-salon.woff") format("woff"),
       url("flaticons/flaticon-set-salon.ttf") format("truetype"),
       url("flaticons/flaticon-set-salon.svg#flaticon-set-salon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon-set-salon";
    src: url("flaticons/flaticon-set-salon.svg#flaticon-set-salon") format("svg");
  }
}

[class^="flaticon-salon-"]:before, [class*=" flaticon-salon-"]:before,
[class^="flaticon-salon-"]:after, [class*=" flaticon-salon-"]:after {   
  font-family: "flaticon-set-salon";
  font-style: normal;
}

.flaticon-salon-bald-man-head:before { content: "\f100"; }
.flaticon-salon-black-hair:before { content: "\f101"; }
.flaticon-salon-black-long-female-hair-shape:before { content: "\f102"; }
.flaticon-salon-black-long-hair:before { content: "\f103"; }
.flaticon-salon-black-short-hair-shape:before { content: "\f104"; }
.flaticon-salon-boy-hair-outline:before { content: "\f105"; }
.flaticon-salon-boy-hair-shape:before { content: "\f106"; }
.flaticon-salon-brush-for-shaving:before { content: "\f107"; }
.flaticon-salon-brush-silhouette:before { content: "\f108"; }
.flaticon-salon-brush-tool:before { content: "\f109"; }
.flaticon-salon-chair-and-mirror-of-hair-salon:before { content: "\f10a"; }
.flaticon-salon-chair-and-sink-tools-for-wash-hair-at-the-salon:before { content: "\f10b"; }
.flaticon-salon-chair-side-view-silhouette:before { content: "\f10c"; }
.flaticon-salon-chair-silhouette:before { content: "\f10d"; }
.flaticon-salon-circular-comb:before { content: "\f10e"; }
.flaticon-salon-close-hair-salon-signal-with-scissors-image-hanging-of-a-nail:before { content: "\f10f"; }
.flaticon-salon-closed-scissors:before { content: "\f110"; }
.flaticon-salon-comb:before { content: "\f111"; }
.flaticon-salon-comb-and-long-hair:before { content: "\f112"; }
.flaticon-salon-comb-and-long-hair-1:before { content: "\f113"; }
.flaticon-salon-comb-for-curled-hair:before { content: "\f114"; }
.flaticon-salon-comb-on-long-dark-female-hair:before { content: "\f115"; }
.flaticon-salon-comb-tool:before { content: "\f116"; }
.flaticon-salon-comb-tool-for-curled-hair:before { content: "\f117"; }
.flaticon-salon-comb-tool-for-hair:before { content: "\f118"; }
.flaticon-salon-comb-variant:before { content: "\f119"; }
.flaticon-salon-combs-couple:before { content: "\f11a"; }
.flaticon-salon-combs-kit:before { content: "\f11b"; }
.flaticon-salon-commercial-hair-salon-symbol-of-circular-shape:before { content: "\f11c"; }
.flaticon-salon-curled-black-long-female-hair-shape:before { content: "\f11d"; }
.flaticon-salon-curled-short-black-hair-shape:before { content: "\f11e"; }
.flaticon-salon-curler-hair-tool:before { content: "\f11f"; }
.flaticon-salon-curlers-hair-salon-tools:before { content: "\f120"; }
.flaticon-salon-dark-female-hair-shape:before { content: "\f121"; }
.flaticon-salon-elastic-circles-for-hair:before { content: "\f122"; }
.flaticon-salon-elegant-mirror:before { content: "\f123"; }
.flaticon-salon-female-black-hair:before { content: "\f124"; }
.flaticon-salon-female-black-hair-shape:before { content: "\f125"; }
.flaticon-salon-female-black-hair-shape-1:before { content: "\f126"; }
.flaticon-salon-female-black-long-hair-shape:before { content: "\f127"; }
.flaticon-salon-female-black-short-hair-shape-at-one-side:before { content: "\f128"; }
.flaticon-salon-female-dark-long-hair-shape-of-juvenile-style:before { content: "\f129"; }
.flaticon-salon-female-hair:before { content: "\f12a"; }
.flaticon-salon-female-hair-covered-with-a-cap:before { content: "\f12b"; }
.flaticon-salon-female-hair-cut-with-scissors:before { content: "\f12c"; }
.flaticon-salon-female-hair-salon-symbol:before { content: "\f12d"; }
.flaticon-salon-female-hair-shape:before { content: "\f12e"; }
.flaticon-salon-female-hair-shape-1:before { content: "\f12f"; }
.flaticon-salon-female-hair-shape-and-face-silhouette:before { content: "\f130"; }
.flaticon-salon-female-hair-style:before { content: "\f131"; }
.flaticon-salon-female-hair-with-hat:before { content: "\f132"; }
.flaticon-salon-female-hairs:before { content: "\f133"; }
.flaticon-salon-female-head:before { content: "\f134"; }
.flaticon-salon-female-head-silhouette:before { content: "\f135"; }
.flaticon-salon-female-head-silhouette-from-side-view-with-short-hair-style-cut:before { content: "\f136"; }
.flaticon-salon-female-head-silhouette-of-short-hair:before { content: "\f137"; }
.flaticon-salon-female-head-silhouette-with-ponytail:before { content: "\f138"; }
.flaticon-salon-female-head-with-big-hair-shape-on-it:before { content: "\f139"; }
.flaticon-salon-female-head-with-ponytail:before { content: "\f13a"; }
.flaticon-salon-female-long-dark-hair-wig:before { content: "\f13b"; }
.flaticon-salon-female-long-hair:before { content: "\f13c"; }
.flaticon-salon-female-long-hair-1:before { content: "\f13d"; }
.flaticon-salon-female-long-hair-with-ponytails:before { content: "\f13e"; }
.flaticon-salon-female-short-hair:before { content: "\f13f"; }
.flaticon-salon-female-short-hair-on-head-silhouette:before { content: "\f140"; }
.flaticon-salon-female-short-hair-style-silhouette:before { content: "\f141"; }
.flaticon-salon-female-wig:before { content: "\f142"; }
.flaticon-salon-fen-and-chair-hair-salon-tools:before { content: "\f143"; }
.flaticon-salon-foam-hair-salon-tool:before { content: "\f144"; }
.flaticon-salon-four-scissors-in-a-badge:before { content: "\f145"; }
.flaticon-salon-geisha-hair-shape:before { content: "\f146"; }
.flaticon-salon-gel-container-for-hair:before { content: "\f147"; }
.flaticon-salon-hair:before { content: "\f148"; }
.flaticon-salon-hair-bottles-in-a-circle:before { content: "\f149"; }
.flaticon-salon-hair-brush:before { content: "\f14a"; }
.flaticon-salon-hair-brushes:before { content: "\f14b"; }
.flaticon-salon-hair-care-tube:before { content: "\f14c"; }
.flaticon-salon-hair-clips:before { content: "\f14d"; }
.flaticon-salon-hair-curler:before { content: "\f14e"; }
.flaticon-salon-hair-in-mirror:before { content: "\f14f"; }
.flaticon-salon-hair-salon-badge:before { content: "\f150"; }
.flaticon-salon-hair-salon-badge-1:before { content: "\f151"; }
.flaticon-salon-hair-salon-badge-2:before { content: "\f152"; }
.flaticon-salon-hair-salon-badge-circle-with-three-bottles:before { content: "\f153"; }
.flaticon-salon-hair-salon-badge-with-scissors:before { content: "\f154"; }
.flaticon-salon-hair-salon-badge-with-scissors-and-mustache:before { content: "\f155"; }
.flaticon-salon-hair-salon-commercial-circular-symbol:before { content: "\f156"; }
.flaticon-salon-hair-salon-commercial-signal:before { content: "\f157"; }
.flaticon-salon-hair-salon-fen-silhouette:before { content: "\f158"; }
.flaticon-salon-hair-salon-funnel:before { content: "\f159"; }
.flaticon-salon-hair-salon-male-symbol:before { content: "\f15a"; }
.flaticon-salon-hair-salon-mustache-circular-symbol:before { content: "\f15b"; }
.flaticon-salon-hair-salon-situation:before { content: "\f15c"; }
.flaticon-salon-hair-salon-situation-1:before { content: "\f15d"; }
.flaticon-salon-hair-salon-situation-2:before { content: "\f15e"; }
.flaticon-salon-hair-salon-situation-of-two-persons:before { content: "\f15f"; }
.flaticon-salon-hair-salon-spray-bottle-and-can:before { content: "\f160"; }
.flaticon-salon-hair-salon-spray-bottle-silhouette:before { content: "\f161"; }
.flaticon-salon-hair-salon-spray-bottles:before { content: "\f162"; }
.flaticon-salon-hair-salon-tool:before { content: "\f163"; }
.flaticon-salon-hair-salon-tool-black-shape:before { content: "\f164"; }
.flaticon-salon-hair-salon-tube-black-container-shape-side-view:before { content: "\f165"; }
.flaticon-salon-hair-shape:before { content: "\f166"; }
.flaticon-salon-hair-shape-1:before { content: "\f167"; }
.flaticon-salon-hair-shape-2:before { content: "\f168"; }
.flaticon-salon-hair-short-black-shape:before { content: "\f169"; }
.flaticon-salon-hair-straightener:before { content: "\f16a"; }
.flaticon-salon-hair-straightener-1:before { content: "\f16b"; }
.flaticon-salon-hair-straightener-on-long-female-hair:before { content: "\f16c"; }
.flaticon-salon-hair-straighter-and-hair-curler:before { content: "\f16d"; }
.flaticon-salon-hair-style-badge:before { content: "\f16e"; }
.flaticon-salon-hair-style-badge-1:before { content: "\f16f"; }
.flaticon-salon-hair-style-badge-2:before { content: "\f170"; }
.flaticon-salon-hair-style-badge-3:before { content: "\f171"; }
.flaticon-salon-hair-style-badge-for-commercial-salon:before { content: "\f172"; }
.flaticon-salon-hair-style-badge-for-female-hair-salon:before { content: "\f173"; }
.flaticon-salon-hair-style-badge-with-a-mustache:before { content: "\f174"; }
.flaticon-salon-hair-style-badge-with-a-scissor-and-banner:before { content: "\f175"; }
.flaticon-salon-hair-style-badge-with-combs:before { content: "\f176"; }
.flaticon-salon-hair-style-for-gentlemen:before { content: "\f177"; }
.flaticon-salon-hair-style-medal:before { content: "\f178"; }
.flaticon-salon-hair-style-salon-circular-badge:before { content: "\f179"; }
.flaticon-salon-hair-style-shape:before { content: "\f17a"; }
.flaticon-salon-hair-style-shop-badge-with-a-mustache-shape:before { content: "\f17b"; }
.flaticon-salon-hair-style-shop-signal:before { content: "\f17c"; }
.flaticon-salon-hair-style-signal-circle-with-scissor:before { content: "\f17d"; }
.flaticon-salon-hair-style-silhouette:before { content: "\f17e"; }
.flaticon-salon-hair-with-a-hat:before { content: "\f17f"; }
.flaticon-salon-hairdresser:before { content: "\f180"; }
.flaticon-salon-hairdresser-1:before { content: "\f181"; }
.flaticon-salon-hairdresser-applying-hair-dye-to-a-client-of-hair-salon:before { content: "\f182"; }
.flaticon-salon-hairdresser-covering-client-head-with-foam:before { content: "\f183"; }
.flaticon-salon-hairdresser-drying-the-hair-of-a-client-sitting-on-a-chair-in-front-of-him:before { content: "\f184"; }
.flaticon-salon-hairdresser-eyeglasses-mustache-and-scissors:before { content: "\f185"; }
.flaticon-salon-hairdresser-showing-a-mirror-to-the-client:before { content: "\f186"; }
.flaticon-salon-hairdresser-standing-with-a-hair-straightener-behind-the-client-sitting-on-a-chair:before { content: "\f187"; }
.flaticon-salon-hairdresser-washing-the-hair-of-a-client-with-bubbles-shampoo:before { content: "\f188"; }
.flaticon-salon-hairdresser-with-comb-and-scissors:before { content: "\f189"; }
.flaticon-salon-hairdresser-with-combs:before { content: "\f18a"; }
.flaticon-salon-hairdresser-with-hairdryer:before { content: "\f18b"; }
.flaticon-salon-hairdresser-with-scissors-cutting-the-hair-to-a-client-sitting-in-front-of-him:before { content: "\f18c"; }
.flaticon-salon-hairdresser-with-spray-bottle-behind-the-client-of-hair-salon:before { content: "\f18d"; }
.flaticon-salon-hairdresser-with-spray-bottle-behind-the-client-of-the-salon:before { content: "\f18e"; }
.flaticon-salon-hairdresser-with-tools-for-hair-in-his-hands:before { content: "\f18f"; }
.flaticon-salon-hairdryer-and-comb:before { content: "\f190"; }
.flaticon-salon-hairdryer-silhouette:before { content: "\f191"; }
.flaticon-salon-hairdryer-silhouette-side-view:before { content: "\f192"; }
.flaticon-salon-hairstyle:before { content: "\f193"; }
.flaticon-salon-hairstyle-with-one-short-side-and-the-other-long:before { content: "\f194"; }
.flaticon-salon-hairstylist-with-scissors-and-spray-bottle-in-hands:before { content: "\f195"; }
.flaticon-salon-head-silhouette-with-short-hair:before { content: "\f196"; }
.flaticon-salon-heads-hairs-and-scissors:before { content: "\f197"; }
.flaticon-salon-human-hair-shape:before { content: "\f198"; }
.flaticon-salon-human-male-hairs-of-the-head:before { content: "\f199"; }
.flaticon-salon-irregular-dark-hair-shape:before { content: "\f19a"; }
.flaticon-salon-juvenile-female-hair-with-two-ponytails-hanging-at-both-sides:before { content: "\f19b"; }
.flaticon-salon-liquid-soap-container-bottle-black-silhouette-side-view:before { content: "\f19c"; }
.flaticon-salon-long-dark-female-hair-shape:before { content: "\f19d"; }
.flaticon-salon-long-dark-female-hair-shape-1:before { content: "\f19e"; }
.flaticon-salon-long-dark-female-juvenile-wig:before { content: "\f19f"; }
.flaticon-salon-long-female-dark-hair:before { content: "\f1a0"; }
.flaticon-salon-long-female-hair:before { content: "\f1a1"; }
.flaticon-salon-long-female-hair-1:before { content: "\f1a2"; }
.flaticon-salon-long-female-hair-and-hair-curler:before { content: "\f1a3"; }
.flaticon-salon-long-female-hair-image-on-oval-mirror:before { content: "\f1a4"; }
.flaticon-salon-long-female-hair-shape-at-one-side:before { content: "\f1a5"; }
.flaticon-salon-long-female-hair-tincture:before { content: "\f1a6"; }
.flaticon-salon-long-female-hair-wig-shape:before { content: "\f1a7"; }
.flaticon-salon-long-hair-dark-shape:before { content: "\f1a8"; }
.flaticon-salon-long-hair-wig:before { content: "\f1a9"; }
.flaticon-salon-long-hair-with-a-hat:before { content: "\f1aa"; }
.flaticon-salon-long-thin-comb-tool:before { content: "\f1ab"; }
.flaticon-salon-long-young-female-hair:before { content: "\f1ac"; }
.flaticon-salon-male-dark-short-hair-shape:before { content: "\f1ad"; }
.flaticon-salon-male-hair-of-head-and-face-shapes:before { content: "\f1ae"; }
.flaticon-salon-male-hair-of-the-head:before { content: "\f1af"; }
.flaticon-salon-male-hair-on-man-head-side-silhouette:before { content: "\f1b0"; }
.flaticon-salon-male-hair-salon:before { content: "\f1b1"; }
.flaticon-salon-male-hair-style-shop:before { content: "\f1b2"; }
.flaticon-salon-male-head-hair-and-beard:before { content: "\f1b3"; }
.flaticon-salon-male-head-with-hair:before { content: "\f1b4"; }
.flaticon-salon-male-long-hair-with-hat:before { content: "\f1b5"; }
.flaticon-salon-male-short-black-hair-shape:before { content: "\f1b6"; }
.flaticon-salon-male-short-black-hair-shape-1:before { content: "\f1b7"; }
.flaticon-salon-male-short-hair:before { content: "\f1b8"; }
.flaticon-salon-male-short-hair-wig-shape:before { content: "\f1b9"; }
.flaticon-salon-male-wig:before { content: "\f1ba"; }
.flaticon-salon-man-and-shaver:before { content: "\f1bb"; }
.flaticon-salon-man-hair-shape-on-head-side-view-silhouette:before { content: "\f1bc"; }
.flaticon-salon-man-head-and-a-shaver:before { content: "\f1bd"; }
.flaticon-salon-man-head-with-a-hat-side-view-silhouette:before { content: "\f1be"; }
.flaticon-salon-mirror-of-oval-shape:before { content: "\f1bf"; }
.flaticon-salon-mirror-of-oval-shape-1:before { content: "\f1c0"; }
.flaticon-salon-mirror-oval-shape:before { content: "\f1c1"; }
.flaticon-salon-mirror-rectangle:before { content: "\f1c2"; }
.flaticon-salon-mustache-and-beard-black-shapes:before { content: "\f1c3"; }
.flaticon-salon-mustache-hair-salon-symbol:before { content: "\f1c4"; }
.flaticon-salon-mustache-in-a-circle:before { content: "\f1c5"; }
.flaticon-salon-mustache-shape:before { content: "\f1c6"; }
.flaticon-salon-mustache-shape-in-a-square:before { content: "\f1c7"; }
.flaticon-salon-one-comb:before { content: "\f1c8"; }
.flaticon-salon-open-hair-salon-signal:before { content: "\f1c9"; }
.flaticon-salon-open-scissors:before { content: "\f1ca"; }
.flaticon-salon-opened-scissors-variant:before { content: "\f1cb"; }
.flaticon-salon-oval-hair-salon-mirror-with-ornamental-border:before { content: "\f1cc"; }
.flaticon-salon-oval-mirror-of-hair-salon:before { content: "\f1cd"; }
.flaticon-salon-oval-vertical-mirror:before { content: "\f1ce"; }
.flaticon-salon-pets-hair-salon-tools-kit:before { content: "\f1cf"; }
.flaticon-salon-ponytail-hair:before { content: "\f1d0"; }
.flaticon-salon-professional-hair-treatment-with-creams-and-heating-standing-hairdryer:before { content: "\f1d1"; }
.flaticon-salon-punk-male-head-side-view-silhouette:before { content: "\f1d2"; }
.flaticon-salon-punk-male-silhouette:before { content: "\f1d3"; }
.flaticon-salon-punk-man-head-silhouette:before { content: "\f1d4"; }
.flaticon-salon-razor:before { content: "\f1d5"; }
.flaticon-salon-razor-hair-salon-tool:before { content: "\f1d6"; }
.flaticon-salon-razor-to-cut-hairs:before { content: "\f1d7"; }
.flaticon-salon-razor-tool-black-silhouette-of-the-tool-to-cut-male-hair:before { content: "\f1d8"; }
.flaticon-salon-razor-tools:before { content: "\f1d9"; }
.flaticon-salon-razors:before { content: "\f1da"; }
.flaticon-salon-rectangular-mirror:before { content: "\f1db"; }
.flaticon-salon-scissor-and-comb:before { content: "\f1dc"; }
.flaticon-salon-scissors:before { content: "\f1dd"; }
.flaticon-salon-scissors-1:before { content: "\f1de"; }
.flaticon-salon-scissors-2:before { content: "\f1df"; }
.flaticon-salon-scissors-3:before { content: "\f1e0"; }
.flaticon-salon-scissors-4:before { content: "\f1e1"; }
.flaticon-salon-scissors-5:before { content: "\f1e2"; }
.flaticon-salon-scissors-6:before { content: "\f1e3"; }
.flaticon-salon-scissors-and-comb:before { content: "\f1e4"; }
.flaticon-salon-scissors-and-comb-1:before { content: "\f1e5"; }
.flaticon-salon-scissors-and-comb-2:before { content: "\f1e6"; }
.flaticon-salon-scissors-badge:before { content: "\f1e7"; }
.flaticon-salon-scissors-couple-in-hair-salon-badge:before { content: "\f1e8"; }
.flaticon-salon-scissors-cutting-hair:before { content: "\f1e9"; }
.flaticon-salon-scissors-cutting-long-hair:before { content: "\f1ea"; }
.flaticon-salon-scissors-in-a-hair-salon-badge:before { content: "\f1eb"; }
.flaticon-salon-scissors-kit:before { content: "\f1ec"; }
.flaticon-salon-scissors-opened-tool:before { content: "\f1ed"; }
.flaticon-salon-scissors-opened-tool-shape:before { content: "\f1ee"; }
.flaticon-salon-scissors-variant:before { content: "\f1ef"; }
.flaticon-salon-shampoo-application-in-hair-salon:before { content: "\f1f0"; }
.flaticon-salon-shaver:before { content: "\f1f1"; }
.flaticon-salon-shaver-electrical-tool-front-view:before { content: "\f1f2"; }
.flaticon-salon-shaving-male-head-silhouette:before { content: "\f1f3"; }
.flaticon-salon-short-black-hair:before { content: "\f1f4"; }
.flaticon-salon-short-black-hair-shape:before { content: "\f1f5"; }
.flaticon-salon-short-black-hair-shape-1:before { content: "\f1f6"; }
.flaticon-salon-short-black-hair-wig-shape:before { content: "\f1f7"; }
.flaticon-salon-short-black-irregular-hair-shape:before { content: "\f1f8"; }
.flaticon-salon-short-dark-female-hair-shape:before { content: "\f1f9"; }
.flaticon-salon-short-dark-hair:before { content: "\f1fa"; }
.flaticon-salon-short-dark-hair-1:before { content: "\f1fb"; }
.flaticon-salon-short-dark-hair-shape:before { content: "\f1fc"; }
.flaticon-salon-short-dark-hair-shape-1:before { content: "\f1fd"; }
.flaticon-salon-short-dark-hair-shape-of-human-head:before { content: "\f1fe"; }
.flaticon-salon-short-dark-hair-wig:before { content: "\f1ff"; }
.flaticon-salon-short-dark-human-hair:before { content: "\f200"; }
.flaticon-salon-short-dark-male-hair-shape:before { content: "\f201"; }
.flaticon-salon-short-dark-male-hair-shape-1:before { content: "\f202"; }
.flaticon-salon-short-dark-male-hair-shape-2:before { content: "\f203"; }
.flaticon-salon-short-female-dark-hair-shape:before { content: "\f204"; }
.flaticon-salon-short-female-hair-on-side-view-woman-head-silhouette:before { content: "\f205"; }
.flaticon-salon-short-hair:before { content: "\f206"; }
.flaticon-salon-short-hair-1:before { content: "\f207"; }
.flaticon-salon-short-hair-2:before { content: "\f208"; }
.flaticon-salon-short-hair-and-scissors:before { content: "\f209"; }
.flaticon-salon-short-hair-black-shape:before { content: "\f20a"; }
.flaticon-salon-short-hair-of-rounded-external-shape:before { content: "\f20b"; }
.flaticon-salon-short-hair-on-female-head-silhouette:before { content: "\f20c"; }
.flaticon-salon-short-hair-shape:before { content: "\f20d"; }
.flaticon-salon-short-hair-shape-1:before { content: "\f20e"; }
.flaticon-salon-short-hair-shape-2:before { content: "\f20f"; }
.flaticon-salon-short-hair-shape-3:before { content: "\f210"; }
.flaticon-salon-short-hair-shape-reflex-on-a-rectangular-mirror-of-hair-salon:before { content: "\f211"; }
.flaticon-salon-short-hairstyle:before { content: "\f212"; }
.flaticon-salon-short-male-hair-shape:before { content: "\f213"; }
.flaticon-salon-short-male-hair-shape-1:before { content: "\f214"; }
.flaticon-salon-spang-hair-salon-tool:before { content: "\f215"; }
.flaticon-salon-spang-hair-tool-outline:before { content: "\f216"; }
.flaticon-salon-spray-bottle-hair-salon-tool-silhouette:before { content: "\f217"; }
.flaticon-salon-spray-bottles:before { content: "\f218"; }
.flaticon-salon-standing-hairdryer:before { content: "\f219"; }
.flaticon-salon-three-bottles-of-hair-salon:before { content: "\f21a"; }
.flaticon-salon-wig-black-hair:before { content: "\f21b"; }
.flaticon-salon-woman-hair:before { content: "\f21c"; }
.flaticon-salon-woman-hair-black-shape:before { content: "\f21d"; }
.flaticon-salon-woman-hair-cut:before { content: "\f21e"; }
.flaticon-salon-woman-hair-extended-in-front-of-the-head:before { content: "\f21f"; }
.flaticon-salon-woman-hair-image-in-oval-mirror:before { content: "\f220"; }
.flaticon-salon-woman-hair-shape-from-side-view:before { content: "\f221"; }
.flaticon-salon-woman-head-side-silhouette:before { content: "\f222"; }
.flaticon-salon-woman-head-side-view:before { content: "\f223"; }
.flaticon-salon-woman-head-side-view-silhouette:before { content: "\f224"; }
.flaticon-salon-woman-head-silhouette-with-short-curled-hair-style:before { content: "\f225"; }
.flaticon-salon-woman-head-silhouette-with-short-hair:before { content: "\f226"; }
.flaticon-salon-woman-head-with-short-hair-silhouette:before { content: "\f227"; }
.flaticon-salon-woman-silhouette-head-side-view:before { content: "\f228"; }
.flaticon-salon-woman-sitting-waiting-on-a-hair-salon-chair-observing-the-wall-clock:before { content: "\f229"; }
.flaticon-salon-woman-with-long-hair:before { content: "\f22a"; }
.flaticon-salon-young-male-short-irregular-hair-on-head-and-a-small-beard:before { content: "\f22b"; }